In [1]:
import sqlite3
import pandas as pd
from pathlib import Path

In [2]:
Path('./data/DannysDiner.sqlite').touch()

In [3]:
connection = sqlite3.connect('./data/DannysDiner.sqlite')

In [4]:
cursor = connection.cursor()

# SALES TABLE

**Creating Sales Table**

In [5]:
sales_table = '''CREATE TABLE sales(
                    customer_id TEXT,
                    order_date DATE,
                    product_id INTEGER
                    );'''

In [6]:
cursor.execute(sales_table)

**Populating Sales Table**

In [7]:
populating_sales_table = pd.read_csv('./data/sales.csv')

In [8]:
populating_sales_table.to_sql('sales', connection, if_exists='append', index = False)

16

# SALES ADJUSTED TABLE

**Creating Sales Adjusted Table**

In [9]:
sales_adjusted_table = '''CREATE TABLE sales_adjusted(
                            customer_id TEXT,
                            order_date DATE,
                            product_id INTEGER,
                            valid_date DATE
                            );'''

In [10]:
cursor.execute(sales_adjusted_table)

**Populating Sales Adjusted Table**

In [11]:
populating_sales_adjusted_table = pd.read_csv('./data/sales_adjusted.csv')

In [12]:
populating_sales_adjusted_table.to_sql('sales_adjusted', connection, if_exists='append', index = False)

16

# MENU TABLE

**Creating Menu Table**

In [13]:
menu_table = '''CREATE TABLE menu(
                  product_id INTEGER,
                  product_name TEXT,
                  price INTEGER
                );'''

In [14]:
cursor.execute(menu_table)

**Populating Menu Table**

In [15]:
populating_menu_table = pd.read_csv('./data/menu.csv')

In [16]:
populating_menu_table.to_sql('menu', connection, if_exists='append', index = False)

3

# MEMBERS TABLE

**Creating Members Table**

In [17]:
members_table = '''CREATE TABLE members(
                  customer_id TEXT,
                  join_date DATE
                );'''

In [18]:
cursor.execute(members_table)

**Populating Members Table**

In [19]:
populating_members_table = pd.read_csv('./data/members.csv')

In [20]:
populating_members_table.to_sql('members', connection, if_exists='append', index = False)

3