In [1]:
import sqlite3
import pandas as pd
from pathlib import Path

In [2]:
Path('./data/PizzaRunner.sqlite').touch()

In [3]:
connection = sqlite3.connect('./data/PizzaRunner.sqlite')

In [4]:
cursor = connection.cursor()

# RUNNER'S TABLE

**Creating Runner's Table**

In [5]:
runners_table = '''CREATE TABLE runners(
                    runner_id INTEGER,
                    registration_date DATE
                    );'''

In [6]:
cursor.execute(runners_table)

**Populating Runners Table**

In [7]:
populating_runners_table = pd.read_excel('./data/runners.xlsx')

In [8]:
populating_runners_table.to_sql('runners', connection, if_exists='append', index = False)

8

# CUSTOMER ORDERS TABLE

**Creating Customer Orders Table**

In [9]:
customer_orders_table = '''CREATE TABLE customer_orders(
                              order_id INTEGER,
                              customer_id INTEGER,
                              pizza_id INTEGER,
                              exclusions VARCHAR(4),
                              extras VARCHAR(4),
                              order_time TIMESTAMP
                            );'''

In [10]:
cursor.execute(customer_orders_table)

**Populating Customer Orders Table**

In [11]:
populating_customer_orders_table = pd.read_excel('./data/customer_orders.xlsx')

In [12]:
populating_customer_orders_table.to_sql('customer_orders', connection, if_exists='append', index = False)

14

# RUNNER ORDERS TABLE

**Creating Runner Orders Table**

In [13]:
runner_orders_table = '''CREATE TABLE runner_orders(
                          order_id INTEGER,
                          runner_id INTEGER,
                          pickup_time VARCHAR(19),
                          distance VARCHAR(7),
                          duration VARCHAR(10),
                          cancellation VARCHAR(23)
                        );'''

In [14]:
cursor.execute(runner_orders_table)

**Populating Runner Order Table**

In [15]:
populating_runner_orders_table = pd.read_excel('./data/runner_orders.xlsx')

In [16]:
populating_runner_orders_table.to_sql('runner_orders', connection, if_exists='append', index = False)

10

# PIZZA NAMES TABLE

**Creating Pizza Names Table**

In [17]:
pizza_names_table = '''CREATE TABLE pizza_names(
                        pizza_id INTEGER,
                        pizza_name TEXT
                        );'''

In [18]:
cursor.execute(pizza_names_table)

**Populating Pizza Names Table**

In [19]:
populating_pizza_names_table = pd.read_excel('./data/pizza_names.xlsx')

In [20]:
populating_pizza_names_table.to_sql('pizza_names', connection, if_exists='append', index = False)

2

# PIZZA RECIPES TABLE

**Creating Pizza Recipes Table**

In [21]:
pizza_recipes_table = '''CREATE TABLE pizza_recipes(
                        pizza_id INTEGER,
                        toppings TEXT
                        );'''

In [22]:
cursor.execute(pizza_recipes_table)

**Populating Pizza Recipes Table**

In [23]:
populating_pizza_recipes_table = pd.read_excel('./data/pizza_recipes.xlsx')

In [24]:
populating_pizza_recipes_table.to_sql('pizza_recipes', connection, if_exists='append', index = False)

2

# PIZZA TOPPINGS TABLE

**Creating Pizza Toppings Table**

In [25]:
pizza_topppings_table = '''CREATE TABLE pizza_toppings(
                            topping_id INTEGER,
                            topping_name TEXT
                            );'''

In [26]:
cursor.execute(pizza_topppings_table)

**Populating Pizza Toppings Table**

In [27]:
populating_pizza_topppings_table = pd.read_excel('./data/pizza_toppings.xlsx')

In [28]:
populating_pizza_topppings_table.to_sql('pizza_toppings', connection, if_exists='append', index = False)

12